{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-4">
    <h4>Question {{ question_number }} / {{ total_questions }}</h4>
    <p>{{ question.text }}</p>

    <form method="post">
        {% csrf_token %}
        {% for option in options %}
            <div>
                <input type="radio" name="option" value="{{ option.id }}" required>
                {{ option.text }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary mt-3">Next</button>
    </form>

    <p class="mt-3">Time Left: <span id="timer">30</span></p>
</div>

<script>
let time = 30;
let timer = document.getElementById("timer");

let countdown = setInterval(() => {
    time--;
    timer.innerText = time;

    if (time <= 0) {
        clearInterval(countdown);
        document.querySelector("form").submit();
    }
}, 1000);
</script>

{% endblock %}